#muur {
width: 500px;
height: 295;
background-color: #c3c3c3;
}

.steen {
    background-color: rgb(211, 74, 0);
    height: 25px;
    width: 100px;
    display: inline-block;
    margin-right: 5px;
}

.rij{
    display: flex;
    margin-bottom: 5px;
}

.smaller {
    width: 80px;
}

.geen_cement_rechts{
    margin-right: 0px;
}

.kleur {
    background-color: rgb(175, 63, 3);
}